@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nerko+One&display=swap');
html{
    font-family: "Montserrat", sans-serif;
}
header{
    font-family: "Nerko One", cursive;

}
/* CUSTOM PROPIETIES */
:root{
    --brand-color: #FF9614;
    --white: #ffffff;
}
/* RESET RULES */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul,li{
    text-decoration: none;
}
a{
    color: currentColor;
    text-decoration: none;
}
/* LAYOUT */
.container-full{
    max-width: 100%;
    margin: 0;
}
.container{
    max-width: 1485px;
    margin: 0 auto;
    padding: 0 60px;
}
/* HEADER STYLE */
.main-header{
    background-color:var(--white);

}
.logo{
    font-size: 55px;
    color: var(--brand-color);
    text-transform: uppercase;
    padding: 10px;
}
/* MEDIA QUERIES */
@media (max-width: 992px) {

}
@media (max-width: 767px) {
    /* navbar */
    .navbar{
        text-align: center;
    }
}
