@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nerko+One&display=swap');
html{
    font-family: "Montserrat", sans-serif;
}
header{
    font-family: "Nerko One", cursive;

}
/* CUSTOM PROPIETIES */
:root{
    --brand-color: #FF9614;
    --white: #ffffff;
    --main-background-color: #F6F5F3;
    --main-title-color: #4E3969;
    --subtitle-color: #A599A5 ;
}
/* RESET RULES */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
}
a{
    color: currentColor;
    text-decoration: none;
}
img{
    max-width: 100%;
}
/* LAYOUT */
.container-full{
    max-width: 100%;
    margin: 0;
}
.container{
    max-width: 1485px;
    margin: 0 auto;
    padding: 0 60px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col-12{
    width: 100%;
}
.col-8{
    width: calc(100% / 12 * 8);
}
.col-4{
    width: calc(100% / 12 * 4);

}
.col-20{
    width: calc(100% / 5);
}
.card.row > *:not(:first-child){
    padding-left: 30px;
}
/* HEADER STYLE */
.main-header{
    background-color:var(--white);

}
.logo{
    font-size: 55px;
    color: var(--brand-color);
    text-transform: uppercase;
    padding: 10px;
}
/* MAIN STYLE */
main{
    background-color:var(--main-background-color) ;
}
/* HERO STYLE */
.hero{
    padding-top: 60px;
}
.hero .card{
    background-color: var(--white);
}
.hero-subtitle{
    text-transform: uppercase;
    margin-bottom: 20px;
    color:var(--subtitle-color) ;
}
.hero-title{
    margin-bottom: 40px;
    color:var(--main-title-color) ;
    font-size: 40px;
}
.description-title{
    margin: 50px 0px 50px 0px;
    font-size: 24px;
}
.description-list > *{
    margin-bottom: 15px;
    font-size: 18px;
}
.bold{
    font-weight: bold;
}
.social-section .col-20{
    padding: 10px;
    text-align: center;
    
}
.social-name{
    text-transform: uppercase;
}
.btn{
    line-height: 60px;
    padding: 10px 50px;
    border-radius: 999px;
    background-color: var(--white);
}
/* MEDIA QUERIES */
@media (max-width: 992px) {
    /* hero */
    .card.row > * {
        width:100%;
    }
    .description-list{
        display: flex;
        flex-wrap: wrap;
        gap: 60px;
    }
    img{
        width: 100%;
    }
    .social-name{
        display: none;
    }
    .social-section .col-20{
        flex-grow: 1;
    }
        
}
@media (max-width: 767px) {
    /* navbar */
    .navbar{
        text-align: center;
    }
    .description-list{
        display: block;
    }
    .social-section .row{
        justify-content: space-between;
    }
    .social-section .col-20{
        flex-grow: 0;

        
    }
    .btn{
        padding: 10px 20px;
    }
}
